:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #4f51d4;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #fff;

  /*Bg 04152d*/
  /*Botão 576cbc*/

  /* Fonts */
  --font-roboto: "Roboto";
}
